<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Volcanoes</title>
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC" rel="stylesheet">
	<link href="../../assets/style/style.css" rel="stylesheet">
</head>
<body>
	{{{ body }}}
</body>
</html>
