<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Last Eruption</th>
  </tr>
  {{#each volcanoes}}

    {{!-- {{log this}}     --}}
      <tr>
        <td>
          {{ this.name }}
        </td>
        <td>
          {{ this.type }}
        </td>
        <td>
          {{ this.lastEruption }}
        </td>

      </tr>
    
  {{/each}}
  </table>